<aside class="sidebar">
  <div class="widget">
    <h2>About</h2>
    <p>
      Email: <a href="mailto:hello@sllt.me">hello@sllt.me</a><br>
      Github: <a href="https://github.com/sllt">https://github.com/sllt</a>
    </p>
  </div>
  <div class="widget">
    <h2>Title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</aside>
